<template>
  <carousel-3d :perspective="0" :width="800" :height="250" :space="980" :display="3" style="margin-top:100px;">
    <slide :index="0" style="border-radius: 10px;background-color: #fff;">
      <img src="@/assets/banner/artboard-red.jpg" class="banner-1" alt="">
    </slide>
    <slide :index="1" style="border-radius: 10px;background-color: #fff;">
      <img src="@/assets/banner/Banner_Bisnis_Blanja_(MRO_Product).jpg" class="banner-2" alt="">
    </slide>
    <slide :index="2" style="border-radius: 10px;background-color: #fff;">
      <img src="@/assets/banner/banner-statis-1.jpg" class="banner-3" alt="">
    </slide>
  </carousel-3d>
</template>

<script>
export default {

}
</script>

<style>

.banner-1 {
    height:100%;

}

.banner-2 {
    height:100%;
    width: 100%;
}

.banner-3 {
    height: 100%;
}
</style>