<template>
<b-navbar class="header"  fixed="top">

    <img src="@/assets/logo@1x.png" class="img-logo-header" >
    
    <div class="dropdown"><div style="margin-top:28px"></div><span style="margin-top:28px"><i>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="icon-kategori">
    <path fill="currentColor" d="M9,5V9H21V5M9,19H21V15H9M9,14H21V10H9M4,9H8V5H4M4,19H8V15H4M4,14H8V10H4V14Z" />
    </svg></i>
    Kategori</span>
        <ul class="isi-dropdown">
                <p><a href="#">Peralatan Kantor</a></p>
                <p><a href="#">Peralatan Rumah Tangga Kantor</a></p>
                <p><a href="#">MRO</a></p>
                <p><a href="#">Merchandise dan Busana</a></p>
                <p><a href="#">Business Service</a></p>
                <p><a href="#">Alat Kesehatan</a></p>
        </ul>
    </div>
    <input type="text" class="search-box" placeholder="Mau cari produk apa?">
    <!-- <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="icon-search">
    <path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
    </svg> -->
    <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="icon-cart">
    <path fill="currentColor" d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
    </svg>
    <button class="bb-btn-white">Masuk</button>
    <button class="bb-btn-red">Daftar</button>

</b-navbar>
</template>


<style>

.header {
    position: fixed;
    width: 100%;
    background:white;
    height:70px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    
}

.img-logo-header {
    height: 2em;
    padding-top: 5px;
    margin: 2em;
    max-width: 10em;
}

.bb-btn-red {
    color: white;
    width: 75px;
    height: 30px;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
}

.bb-btn-white {
    color: red;
    width: 75px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border: 1px solid red;
    border-radius: 3px;
}

.search-box {
    background: url("../assets/search-icon.png") top left  no-repeat;
    margin-right: 10%;
    width: 50%;
    background-color:#fafafa;
    height: 35px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    padding-left: 40px;
}

.icon-kategori {
    color: red;
}

.icon-cart {
    color: black;
}
.dropdown {
    width:100px;
    height:80px ;
    padding-bottom:24px;
}

.li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: #fff;
}

.isi-dropdown {
    position: absolute;
    width: 30em;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #f9f9f9;
    margin-top:22px ;
}

.isi-dropdown a {
    color: #3c3c3c;
}

.isi-dropdown a:hover {
    color: #e43b31;
    text-decoration: none;
}

</style>
