<template>
<div class="container">
<div class="header-mitra">
   <span style="margin-right:70%; margin-left:20px"> Mitra di Bisnis BLANJA.com</span>
    <button variant="danger" class="btn-mitra">Lihat Semua</button>
</div>
</div>
</template>

<script>
export default {

}
</script>

<style>

.header-mitra {
    width: 100%;
    height: 100%;
    justify-content: left;
    display: block;
}

.btn-mitra {
    justify-content: left;
    -webkit-box-shadow: unset!important;
    box-shadow: unset!important;
    border: 1px solid #ddd;
    height: 25px!important;
    border-radius: 3px!important;
}

</style>