<template>
    <div class="flex-container">
            <div class="col-md-2">
                <div class="ct">
                    <center>
                     <img src="@/assets/icon/komputer-handphone-elektronik.svg" width="50">
                     <p style="padding-top:20px">Komputer, Handphone, & Elektronik</p>
                    </center>
                </div>
            </div>
              <div class="col-md-2">
                <div class="ct">
                    <center>
                     <img src="@/assets/icon/peralatan-kantor.svg" width="50">
                     <p style="padding-top:20px">Peralatan Kantor</p>
                    </center>
                </div>
            </div>
              <div class="col-md-2">
                <div class="ct">
                    <center>
                     <img src="@/assets/icon/perlengkapan-rumah-tangga-kantor.svg" width="50">
                     <p style="padding-top:20px">Perlengkapan Rumah Tangga Kantor </p>
                    </center>
                </div>
            </div>
              <div class="col-md-2">
                <div class="ct">
                    <center>
                     <img src="@/assets/icon/mro.svg" width="50">
                     <p style="padding-top:20px">MRO</p>
                    </center>
                </div>
            </div>
              <div class="col-md-2">
                <div class="ct">
                    <center>
                     <img src="@/assets/icon/merchandise-busana.svg" width="50">
                     <p style="padding-top:20px">Merchandise & Busana</p>
                    </center>
                </div>
            </div>
              <div class="col-md-2">
                <div class="ct">
                    <center>
                     <img src="@/assets/icon/business-service.svg" width="50">
                     <p style="padding-top:20px">Business Service</p>
                    </center>
                </div>
            </div>
    </div>
</template>

<style>
.ct {
    padding: 0.5rem;
    height: 10em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius:3px ;
    background-color: #fff;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}
</style>