<template>
<div class="container-fluid">
    <br/>
    <div class="row justify-content-md-center">
        <div class="col-md-2" style="border:1px solid #999">
    <img src="@/assets/logo/unilever.png" class="img-logo-header" alt="">
        </div>
        <div class="col-md-2" style="border:1px solid #999">
    <img src="@/assets/logo/canon.png" class="img-logo-header" alt="">
        </div>
        <div class="col-md-2" style="border:1px solid #999">
    <img src="@/assets/logo/paper-one.png" class="img-logo-header" alt="">
        </div>
        <div class="col-md-2" style="border:1px solid #999">
    <img src="@/assets/logo/benq.png" class="img-logo-header" alt="">
        </div>
        <div class="col-md-2" style="border:1px solid #999">
    <img src="@/assets/logo/pg.png" class="img-logo-header" alt="">
    </div>
    </div>
    
</div>
</template>

<style>

.section-mitra {
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo-header {
    height: 50px;    
}
</style>