<template>
<div class="container-fluid">
  <div class="row">
      <my-header></my-header>
      <section-banner></section-banner>
      <section-kategori></section-kategori>
      <header-mitra></header-mitra>
      <section-mitra></section-mitra>
  </div>
</div>
</template>

<script>
import Header from './components/Header'
import Mitra from './components/Mitra'
import Kategori from './components/Kategori'
import HeaderMitra from './components/HeaderMitra'
import Banner from './components/Banner'


export default {

  components: {
    'my-header': Header,
    'section-mitra': Mitra,
    'section-kategori' : Kategori,
    'header-mitra': HeaderMitra,
    'section-banner': Banner,
  }
}
</script>

